* {
  box-sizing: border-box;
}

header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.satisfaccion {
  font-size: 0;
  background-repeat: no-repeat;
  width: 128px;
  height: 128px;
  background-image: url(../images/satisfaccion_del_cliente.jpg);
}

.calidad {
  align-items: center;
  font-size: 0;
  background-repeat: no-repeat;
  width: 128px;
  height: 128px;
  background-image: url(../images/calidad_seguridad.jpg);
}

.mascotas {
  font-size: 0;
  background-repeat: no-repeat;
  width: 128px;
  height: 128px;
  background-image: url(../images/amor_por_mascotas.jpg);
}

.categorias {
  font-size: 0;
}

.categorias>div {
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  max-width: 201px;
  aspect-ratio: 1/1;
}

.categorias .gatos {
  background-image: url(../images/categoria_gatos.png);
}

.categorias .perros {
  background-image: url(../images/categoria_perros.png);
}

.categorias .aves {
  background-image: url(../images/categoria_aves.png);
}

.categorias .peces {
  background-image: url(../images/categoria_peces.png);
}

.categorias .reptiles {
  background-image: url(../images/categoria_reptiles.png);
}

.categorias .roedores {
  background-image: url(../images/categoria_roedores.png);
}