* {
  box-sizing: border-box;
}

h1 {
  color: #165395;
}

p {
  margin: 0;
}

header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form.row.g-3{
             margin: 2rem;
}

.satisfaccion {
  font-size: 0;
  background-repeat: no-repeat;
  width: 128px;
  height: 128px;
  background-image: url(../images/satisfaccion_del_cliente.jpg);
}

.calidad {
  align-items: center;
  font-size: 0;
  background-repeat: no-repeat;
  width: 128px;
  height: 128px;
  background-image: url(../images/calidad_seguridad.jpg);
}

.mascotas {
  font-size: 0;
  background-repeat: no-repeat;
  width: 128px;
  height: 128px;
  background-image: url(../images/amor_por_mascotas.jpg);
}

.categorias {
  font-size: 0;
}

.categorias>div {
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  max-width: 201px;
  aspect-ratio: 1/1;
}

.categorias .gatos {
  background-image: url(../images/categoria_gatos.png);
}

.categorias .perros {
  background-image: url(../images/categoria_perros.png);
}

.categorias .aves {
  background-image: url(../images/categoria_aves.png);
}

.categorias .peces {
  background-image: url(../images/categoria_peces.png);
}

.categorias .reptiles {
  background-image: url(../images/categoria_reptiles.png);
}

.categorias .roedores {
  background-image: url(../images/categoria_roedores.png);
}

.promo {
  border-radius: 10px;
}

.promo,
.link {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-size: 0;
  padding: 0;
  margin: 0;
  aspect-ratio: 200/51;
}

.shampoo {
  background-image: url(../images/promo_1.jpg);
}

.colchonetas {
  background-image: url(../images/promo_2.jpg);
}

.sucursales {
  background-image: url(../images/promo_3.jpg);
}

.accesorios {
  background-image: url(../images/promo_4.jpg);
}

.card {
  max-width: 300px;
  width: 100%;
  overflow: hidden;
}

.card img {
  width: 100%;
}